<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <div class="content-container">
        <div class="left-menu">
            <div class="menu">
                <div class="menu-header">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="menu-content">
                    <!-- ПОИСК -->
                    <div class="search-container">
                        <div class="search-form-wrapper">
                            <input type="text" placeholder="Запрос..." required id="searchToken" minlength="3">
                            <button id="searchBtn" type="submit" data-href="Search/SearchByName" data-ajax-update="#projectList">Поиск</button>
                        </div>
                    </div>
                    <ul>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Projects/Projects">
                            <p>Проекты</p>
                        </li>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/User_Stage/MyTasks">
                            <p>Мои задачи</p>
                        </li>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Documents/Index">
                            <p>Документы</p>
                        </li>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Analytics/Index">
                            <p>Отчеты</p>
                        </li>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Languages/Cards">
                            <p>Языки</p>
                        </li>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/WorkTypes/Cards">
                            <p>Типы работ</p>
                        </li>
                        <li class="ajaxBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Home/About">
                            <p>О программе</p>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="logOffBtn" onclick="return location.href = '/Account/LogOff'">
                                <p>Выйти</p>
                            </li>
                        }

                    </ul>
                </div>
                <div class="menu-footer">
                    <div class="footer">
                        <p>&copy; @DateTime.Now.Year – НИИ ТПУ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-partial">
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container body-content" id="partialContent" style="s">
                    @RenderBody()
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .listIcon {
        color: #3d5279;
    }

        .listIcon:hover {
            color: #d41955;
        }

        .listIcon i {
            font-size: 30px;
            margin: 0 10px;
        }

            .listIcon i:hover {
                transition: 0.3s;
            }

    .titleAndIcon {
        display: flex;
    }

        .titleAndIcon i {
            font-size: 40px;
            color: #3d5279;
            align-self: center;
            float: left;
        }

            .titleAndIcon i:hover {
                color: #d41955;
                transition: 0.3s;
            }

    .content-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        scroll-behavior: smooth;
    }

        .content-container .left-menu {
            width: 300px;
            height: 100%;
            display: block;
            float: left;
            background-color: #241717;
            overflow: hidden;
            background-color: #0b2046ad;
            background-size: cover;
            box-shadow: 5px 1px 6px 1px rgba(0, 0, 0, 0.4);
        }

        .content-container .right-partial {
            width: auto;
            height: 100%;
            display: block;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .content-container .menu {
            float: none;
        }

    .menu {
        height: 100%;
    }

        .menu .menu-header {
            height: 20%;
        }

        .menu .menu-content {
            height: 60%;
        }

        .menu .menu-footer {
            height: 20%;
        }

    .menu-content > ul > li {
        height: 60px;
        padding: 10px;
        font-size: 20px;
    }

    .menu-content > ul > li {
        display: flex;
        padding-left: 50px;
        cursor: pointer;
    }

    .menu-content li > p {
        color: white;
        text-decoration: none;
        align-self: center;
        cursor: pointer;
        font-weight: 500;
        margin: 0;
    }

    .menu-content > ul > li:hover {
        background-color: #c42d5b;
    }
</style>