<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="content-container">
        <div class="left-menu">
            <div class="menu">
                <div class="menu-header">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="menu-content">
                    <!-- ПОИСК -->
                    <div class="search-container">
                        <div class="search-form-wrapper">
                            <input type="text" placeholder="Запрос..." required id="searchToken" minlength="3">
                            <button id="searchBtn" type="submit" data-href="Search/SearchByName" data-ajax-update="#partialContent">Поиск</button>
                        </div>
                    </div>
                    <ul>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Projects/Projects">
                            <div class="menuSelection currentMenuSelection"></div>
                            <i class="material-icons">folder</i>
                            <p>Проекты</p>
                        </li>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/User_Stage/MyTasks">
                            <div class="menuSelection"></div>
                            <i class="material-icons">event</i>
                            <p>Мои задачи</p>
                        </li>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Documents/Index">
                            <div class="menuSelection"></div>
                            <i class="material-icons">description</i>
                            <p>Документы</p>
                        </li>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Analytics/Index">
                            <div class="menuSelection"></div>
                            <i class="material-icons">trending_up</i>
                            <p>Отчеты</p>
                        </li>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Languages/Cards">
                            <div class="menuSelection"></div>
                            <i class="material-icons">translate</i>
                            <p>Языки</p>
                        </li>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/WorkTypes/Cards">
                            <div class="menuSelection"></div>
                            <i class="material-icons">assignment</i>
                            <p>Типы работ</p>
                        </li>
                        <li class="ajaxBtn menuBtn" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#partialContent" data-href="/Home/About">
                            <div class="menuSelection"></div>
                            <i class="material-icons">help_outline</i>
                            <p>О программе</p>
                        </li>
                        @if (Request.IsAuthenticated)
                        {
                            <li class="logOffBtn" onclick="return location.href = '/Account/LogOff'">
                                <div class="menuSelection"></div>
                                <i class="material-icons">exit_to_app</i>
                                <p>Выйти</p>
                            </li>
                        }

                    </ul>
                </div>
                <div class="menu-footer">
                    <div class="footer">
                        <p>&copy; @DateTime.Now.Year – НИИ ТПУ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-partial">
            <!-- Колесо прогрузки -->
            <div class="loader loader--style1" title="0" id="loadRing">
                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />



                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
                <animateTransform attributeType="xml"
                                  attributeName="transform"
                                  type="rotate"
                                  from="0 20 20"
                                  to="360 20 20"
                                  dur="0.5s"
                                  repeatCount="indefinite" />



    </path>
  </svg>
            </div>
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container body-content" id="partialContent" style="s">
                    @RenderBody()
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .loader {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        display:none;
    }
    .loader > svg{
        margin:auto;
    }

    .menuSelection {
        position: absolute;
        left: 0;
        top: 0;
        width: 6px;
        height: 100%;
    }

    .currentMenuSelection {
        background-color: #c42d5b;
    }

    .titleAndIcon {
        display: flex;
    }

        .titleAndIcon i,
        .titleAndIcon > a{
            font-size: 30px;
            color: #3d5279;
            align-self: center;
            float: left;
        }

        .titleAndIcon h2,
        .titleAndIcon h3 {
            align-self: center;
            float: left;
        }

            .titleAndIcon i:hover {
                color: #d41955;
                transition: 0.3s;
            }

    .content-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        scroll-behavior: smooth;
    }

        .content-container .left-menu {
            width: 280px;
            height: 100%;
            display: block;
            float: left;
            background-color: #241717;
            overflow: hidden;
            background-color: #0b2046ad;
            background-size: cover;
            box-shadow: 5px 1px 6px 1px rgba(0, 0, 0, 0.4);
        }

        .content-container .right-partial {
            width: auto;
            height: 100%;
            display: block;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 10px 20px;
        }

        .content-container .menu {
            float: none;
        }

    .menu {
        height: 100%;
    }

        .menu .menu-header {
            height: 20%;
        }

        .menu .menu-content {
            height: 70%;
        }

        .menu .menu-footer {
            height: 10%;
        }

    .menu-content > ul {
        margin-top: 30px;
    }

        .menu-content > ul > li {
            height: 50px;
            padding: 10px;
            font-size: 18px;
            border-top: 1px solid #27395abf;
            position:relative;
        }

        .menu-content > ul > li {
            display: flex;
            padding-left: 50px;
            cursor: pointer;
        }

    .menu-content li > p,
    .menu-content li > i {
        padding-right: 15px;
        color: white;
        text-decoration: none;
        align-self: center;
        cursor: pointer;
        font-weight: 500;
        margin: 0;
    }
    /* отмена краснения*/
    .menu-content i:hover{
        color:white;
    }
    .menu-content > ul > li:hover {
        background-color: #c42d5b;
    }
</style>