<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/css")
    @Styles.Render("~/Style/SideBar.css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <div class="content-container">
        <div class="left-menu">
            <div class="menu">
                <div class="menu-header">
                    @Html.Partial("_LoginPartial")
                    @if (Request.IsAuthenticated)
                    {
                                @Html.AntiForgeryToken()
                                <div class="hello">
                                    Здравствуйте,   @User.Identity.Name!
                                </div>
                    }
                </div>
                <div class="menu-content">
                    <!-- ПОИСК -->
                    <div class="search-container">
                        <div class="search-form-wrapper">
                            <input type="text" placeholder="Запрос..." required id="searchToken" minlength="3">
                            <button id="searchBtn" type="submit" data-href="Search/SearchByName" data-ajax-update="#projectList">Поиск</button>
                        </div>
                    </div>
                    <ul>
                        <li>@Html.ActionLink("Проекты", "Index", "Projects")</li>
                        <li>@Html.ActionLink("Мои задачи", "About", "Home")</li>
                        <li>@Html.ActionLink("Документы", "Index", "Documents")</li>
                        <li>@Html.ActionLink("Отчеты", "Index", "Analytics")</li>
                        <li>@Html.ActionLink("Языки", "Cards", "Languages")</li>
                        <li>@Html.ActionLink("Типы работ", "Cards", "WorkTypes")</li>
                        <li>@Html.ActionLink("О программе", "About", "Home")</li>
                        @if (Request.IsAuthenticated)
                        {
                        <li class="logout">
                            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                        </li>
                        }


                    </ul>
                </div>
                

                <div class="menu-footer">
                    <div class="footer">
                        <p>&copy; @DateTime.Now.Year – НИИ ТПУ</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-partial">
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="container body-content" id="partialContent">
                    @RenderBody()

                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .hello {
        font-size: 20px;
        padding-top:10px;
        text-align: center;
        display: block;
        margin: auto;
        color: white;
    }
    .logout {
        margin-top: 30px !important;
        font-size: 16px !important;
    }
    .listIcon {
        color: #3d5279;
    }

        .listIcon:hover {
            color: #d41955;
        }

        .listIcon i {
            font-size: 30px;
            margin: 0 10px;
        }

            .listIcon i:hover {
                transition: 0.3s;
            }

    .titleAndIcon {
        display: flex;
    }

        .titleAndIcon h2 {
            float: left;
        }

        .titleAndIcon i {
            font-size: 40px;
            color: #3d5279;
            align-self: center;
            float: left;
        }

            .titleAndIcon i:hover {
                color: #d41955;
                transition: 0.3s;
            }

    .content-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

        .content-container .left-menu {
            width: 300px;
            height: 100%;
            display: block;
            float: left;
            background-color: #241717;
            overflow: hidden;
            border-right: 1px solid #000000;
            background-color: #3d5279;
            background-size: cover;
            box-shadow: 5px 1px 6px 1px rgba(0, 0, 0, 0.4);
        }

        .content-container .right-partial {
            width: auto;
            height: 100%;
            display: block;
            overflow: hidden;
        }

        .content-container .menu {
            float: none;
        }

    .menu {
        height: 100%;
    }

        .menu .menu-header {
            height: 20%;
        }

        .menu .menu-content {
            height: 60%;
        }

        .menu .menu-footer {
            height: 20%;
        }

    .menu-content > ul > li {
        height: 60px;
        padding: 10px;
        font-size: 20px;
    }

    .menu-content > ul > li {
        display: flex;
        padding-left: 50px;
    }

        .menu-content > ul > li > a {
            color: white;
            text-decoration: none;
            align-self: center;
        }

        .menu-content > ul > li:hover {
            background-color: #c42d5b;
        }
</style>