@model List<TranslationRegistryModel.Language>
<div>
    <h2>Языки</h2>

    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addLanguageForm"
       href="/Languages/Create" class="btn btn-primary createBtn">Добавить</a>
    <div id="addLanguageForm" class="dynamicBlock"></div>

    <div>
        <div class="titles">
            <div class="col-md-4">@Html.Label("Наименование")</div>
            <div class="col-md-4">@Html.Label("Сокращение")</div>
            <div class="col-md-4">@Html.Label("Команды")</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="properties">
                <div class="col-md-4">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col-md-4">@Html.DisplayFor(modelItem => item.ShortName)</div>
                <div class="col-md-4">
                    <div class="buttons-container">
                        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#language@(item.Id)"
                           href="/Languages/Edit/@item.Id" class="btn btn-primary editBtn">Редактировать</a>
                        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#language@(item.Id)"
                           href="/Languages/Delete/@item.Id" class="btn btn-danger deleteBtn" data-dialog-title="Удаление записи">Удалить</a>
                    </div>
                </div>
            </div>
            <div id="language@(item.Id)" class="dynamicBlock dynamicItem"></div>
        }
    </div>
</div>
