@model TranslationReg.Models.ReportModel


<h2>Выберите необходимые фильтры</h2>

@Html.Partial("..//Analytics//Filters")

@if (ViewBag.list != null)
{
    <div class="dates">@ViewBag.dates</div>

    <div class="tableMaterial ReportTable" >


        <div class="titles">
            <div class="col-md-4">Пользователь</div>
            <div class="col-md-4">Тип работы</div>
            <div class="col-md-4">Итого</div>
        </div>

        @foreach (var userWorks in ViewBag.list)
        {

            <div class="properties">
                <div class="col-md-4">
                    <span>
                        @userWorks.User
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                        @userWorks.Work
                    </span>
                </div>
                <div class="col-md-4">
                    <span>
                        @userWorks.Count (@userWorks.UnitOfMeasure)
                    </span>
                </div>
            </div>

        }

    </div>
    ViewBag.list = null;
}
else
{
    if (ViewBag.nodata != null)
    {
        <a>@ViewBag.nodata</a>
    }

}
<style>
    .ReportTable {
        margin-top: 3%;
        margin-bottom:3%;
        width: 70%;
        position: center;
    }

    .dates {
        font-size: 16px;
    }
</style>
