@model TranslationReg.Models.ReportModel


<h2>Выберите необходимые фильтры</h2>
@Html.Partial("..//Analytics//Filters", Model)

@if (Model.ReportSections != null && Model.ReportSections.Count != 0)
{
    <h2>Отчет по фильтрам</h2>
    <div id="report">
        @foreach (var userWorks in Model.ReportSections)
        {
            <div>Пользователь @userWorks.First().First().User.Name</div>
            foreach (var typedWorks in userWorks)
            {
                <div>Тип работ @typedWorks.First().Stage.WorkType.Name</div>
                foreach (var work in typedWorks)
                {
                    <div>@work.Amount</div>
                }
                <div>Сумма: @typedWorks.Sum(x => x.Amount)</div>
            }
        }
    </div>
}
else
{
}

@section scripts {
    <script>
        $(document).ready(function () {
            $("#filters_ForAllTime").change(function () {
                $("#dateTo").prop('disabled', this.checked);
                $("#dateFrom").prop('disabled', this.checked);
            });
        });
    </script>
}