@model TranslationRegistryModel.DocStage

<div>
    <h3>Вы уверены что хотите удалить данную запись?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>@Html.Label("Документ")</dt>
    
            <dd>@Html.DisplayFor(model => model.Document.Name)</dd>
    
            <dt>@Html.Label("Тип работы")</dt>
    
            <dd>@Html.DisplayFor(model => model.WorkType.Name)</dd>
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" />
            </div>
        }
    </div>
</div>
