@model TranslationRegistryModel.DocStage
<div class="modal-dialog">
    <div class="modal-content">

        <!-- Хедер -->
        <div class="modal-header delete-header">
            <h4 class="modal-title">Удаление стадии "@Model.WorkType.Name"</h4>
            <p type="button" class="close" data-dismiss="modal">&times;</p>
        </div>

        <!-- Тело -->
        <div class="modal-body">
            <h3>Вы уверены, что хотите удалить данную запись?</h3>
            <div class="modal-row">
                <div class="modal-property"><p>Тип работ:</p></div>
                <div class="modal-value">
                    <p>@Model.WorkType.Name</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Документ:</p></div>
                <div class="modal-value">
                    <p>@Model.Document.Name<p>
                </div>
            </div>
            @{
                var stages = Model.User_Stage.ToList();
                <div class="modal-row">
                    <div class="modal-property">
                        <p>Количество работ:</p>
                    </div>
                    <div class="modal-value">
                        @if (stages.Count > 0)
                        {
                            <p>@stages.Count</p>
                        }
                        else
                        {
                            <p>Нет работ</p>
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Подтверждение\отмена -->
        <div class="modal-footer">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Удалить" class="btn btn-delete hide-modal btn-modal" />
            }
            <button type="button" class="btn btn-default btn-cancel btn-modal" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>