@model IEnumerable<TranslationRegistryModel.Project>
@using TranslationReg.Controllers
<h1>Проекты</h1>
<ul class="cards-list">
    @foreach (var project in Model)
    {
        <li class="cards-list-item">
            <div class="card-container">
                <div class="project-card">
                    <div class="card-name">
                        <h1 class="main-title">@project.Name <span class="card-status-light"></span></h1>
                        <div class="date">
                            <div class="day">@project.Date.Day</div>
                            <div class="month">@project.Date.ToString("MMM")</div>
                        </div>
                    </div>

                    <!-- Post Content-->
                    <div class="proj-card-content">
                        <div class="card-info">
                            <h1 class="sub-title">Создатель: @project.Creator.Name</h1>
                            <h1 class="sub-title">@project.LanguagePair.Name</h1>
                        </div>
                        <div class="card-info">
                            <p class="sub-title">Заказчик: @project.Customer</p>
                        </div>
                        <div class="card-info">
                            <p class="sub-title">Статус: @project.ProjectStatus.Name</p>
                        </div>
                        <p class="description">
                            Описание проекта будет выводиться здесь
                        </p>
                        <div class="card-users">
                            <a class="category" href="/Projects/TabPages/@(project.Id)">Открыть</a>
                            @{
                                var usersData = project.Documents.SelectMany
                                    (x => x.Stages.SelectMany
                                    (y => y.User_Stage.Select
                                    (z => new { z.User.AvatarPath, z.User.Name }))).Distinct();
                                if (usersData.Count() > 4)
                                {
                                    <div class="avatar-list-block">
                                        <i class="fa fa-ellipsis-h"></i>
                                        <ul class="avatar-list">
                                            @foreach (var data in usersData)
                                            {
                                                if (string.IsNullOrEmpty(data.AvatarPath))
                                                {
                                                    <li><img src="@Url.Content("~/"+Path.Combine(Helper.uploadDir, Helper.avatarsDir, Helper.defaultAvatar))" title="@data.Name" /></li>
                                                }
                                                else
                                                {
                                                    <li><img src="@Url.Content("~/"+data.AvatarPath)" title="@data.Name" /></li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <ul class="list-display">
                                        @foreach (var data in usersData)
                                        {
                                            if (string.IsNullOrEmpty(data.AvatarPath))
                                            {
                                                <li><img src="@Url.Content("~/"+Path.Combine(Helper.uploadDir, Helper.avatarsDir, Helper.defaultAvatar))" title="@data.Name" /></li>

                                            }
                                            else
                                            {
                                                <li><img src="@Url.Content("~/"+data.AvatarPath)" title="@data.Name" /></li>
                                            }
                                        }
                                    </ul>
                                }
                            }
                        </div>
                        <div class="card-meta">
                            <div class="documents">
                                <span><i class="fa fa-list"></i>Документы (@project.Documents.Count)</span>
                                @if (@project.Documents.Count == 0)
                                {
                                    <div class="documents-list">
                                        <ul>
                                            <li>Документов нет</li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="documents-list">
                                        <ul>
                                            @foreach (var document in project.Documents)
                                            {
                                                <li><a href="/Documents/DocAndStages/@document.Id">@document.Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>
<style>
    .cards-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

    .cards-list-item {
        display: flex; /* 1 */
        flex-direction: column; /* 1 */
        flex: 0 0 325px; /* 2 */
        margin: 10px; /* 3 */
    }

    .card-container {
        margin-top: 40px;
        margin-left: 5px !important;
        z-index: 0;
    }

    .card-name {
        display: flex;
        padding: 20px 0 0 20px;
    }

    .card-users {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .avatar-list-block {
        position: relative;
        font-size: 2em;
    }

    .avatar-list {
        display: none;
        list-style: none;
        margin: 0;
        padding: 10px;
        position: absolute;
        width: 178px;
        left: -136px;
        top: 25px;
        font-size: 18px;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

        .avatar-list li {
            display: inline-block;
            font-size: 25px;
        }

            .avatar-list li img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid lightgray;
            }

    .avatar-list-block:hover .avatar-list {
        display: inline-block;
    }

    .list-display {
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 18px;
        width: auto;
        line-height: 40px;
        vertical-align: middle;
        max-width: 178px;
    }

        .list-display li {
            display: inline-block;
        }

            .list-display li img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid lightgray;
            }

    .project-card {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        min-width: 325px;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.3s linear 0s;
        -moz-transition: all 0.3s linear 0s;
        -o-transition: all 0.3s linear 0s;
        transition: all 0.3s linear 0s;
    }

    .project-card {
        -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
    }

        .project-card .card-name {
            padding: 10px;
            border-bottom: solid 2px red;
        }

            .project-card .card-name .main-title .card-status-light {
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: greenyellow;
            }

            .project-card .card-name .date {
                align-self: center;
                margin-left: 10px;
                z-index: 1;
                background: #e74c3c;
                width: 55px;
                height: 55px;
                padding: 5px 0;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
                color: #FFFFFF;
                font-weight: 700;
                text-align: center;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

        .project-card .date .day {
            font-size: 16px;
        }

        .project-card .date .month {
            font-size: 14px;
            text-transform: uppercase;
        }

        .project-card .proj-card-content {
            position: relative;
            bottom: 0;
            background: #FFFFFF;
            width: 100%;
            padding: 20px;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .project-card .proj-card-content .category {
                display: inline-block;
                width: 100px;
                height: 40px;
                background: #e74c3c;
                padding: 10px 15px;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                color: white;
                text-decoration: none;
            }

        .project-card .main-title {
            align-self: center;
            margin: 0;
            width: 75%;
            color: #333333;
            font-size: 22px;
            font-weight: 600;
        }

        .project-card .sub-title {
            margin: 0;
            padding: 0 0 10px;
            color: #333333;
            font-size: 18px;
            font-weight: 600;
        }

        .project-card .proj-card-content .card-info {
            display: flex;
            justify-content: space-between;
        }

            .project-card .proj-card-content .card-info h1:last-child {
                text-transform: uppercase;
            }

        .project-card .proj-card-content .description {
            display: none;
            color: #666666;
            font-size: 14px;
            line-height: 1.8em;
        }

        .project-card .proj-card-content .card-meta {
            margin: 10px 0 0;
            color: #999999;
        }

            .project-card .proj-card-content .card-meta .documents {
                display: inline-block;
                position: relative;
            }

                .project-card .proj-card-content .card-meta .documents .documents-list {
                    display: none;
                    position: absolute;
                    width: 150px;
                    padding: 10px;
                    background-color: white;
                    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
                }

                .project-card .proj-card-content .card-meta .documents:hover .documents-list {
                    display: inline-block;
                }
                .project-card .proj-card-content .card-meta .documents .fa{
                    padding:5px;
                }

                .project-card .proj-card-content .card-meta .documents .documents-list ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                    .project-card .proj-card-content .card-meta .documents .documents-list ul li {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

            .project-card .proj-card-content .card-meta .timestamp {
                margin: 0 16px 0 0;
            }

            .project-card .proj-card-content .card-meta a {
                color: #999999;
                text-decoration: none;
            }

    .proj-card-content .description {
        display: block !important;
        height: auto !important;
        opacity: 1 !important;
    }

    .container:before,
    .container:after {
        content: '';
        display: block;
        clear: both;
    }

    .container .column {
        width: 50%;
        padding: 0 25px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .documents-list ul li {
        text-decoration: underline;
    }
</style>