@using TranslationRegistryModel
@model TranslationRegistryModel.Project

<div class="modal-dialog">
    <div class="modal-content">

        <!-- Хедер -->
        <div class="modal-header  delete-header">
            <h4 class="modal-title">Удаление проекта</h4>
            <i data-dismiss="modal" class="material-icons close">clear</i>
        </div>

        <!-- Тело -->
        <div class="modal-body">
            <div class="dangerIcon">
                <h3 class="material-icons " style="font-size:50px; margin-top: 0px;">error_outline</h3>
            </div>
            
            <h3 align="center">Вы уверены, что хотите удалить проект "@Model.Name"?</h3>
            <div class="modal-row">
                <div class="modal-property"><p>Название:</p></div>
                <div class="modal-value">
                    <p>@Model.Name</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Заказчик:</p></div>
                <div class="modal-value">
                    <p>@Model.Customer<p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Статус:</p></div>
                <div class="modal-value">
                    <p>@Model.ProjectStatus.Name<p>
                </div>
            </div>
            @{
        List<Document> docs = Model.Documents.ToList();
        if (docs != null && docs.Count > 0)
        {
            for (int i = 0; i < Model.Documents.Count && i < 3; i++)
            {
                <div class="modal-row">
                    <div class="modal-property">
                        @if (i == 0)
                {
                    <p>Докуметы:</p>
        }
                    </div>
                    <div class="modal-value">
                        @if (i == 2 && docs.Count > 3)
                {
                    <p>@(docs[i].Name + " ...")</p>
        }
        else
        {
            <p>@docs[i].Name</p>
}
                    </div>
                </div>
    }

}

            }
        </div>

        <!-- Подтверждение\отмена -->
        <div class="modal-footer">
            @using (Ajax.BeginForm("DeleteFromList", "Projects", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "partialContent" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <input type="submit" id="delProj" value="Удалить" class="btn btn-delete hide-modal btn-modal"/>
            }
            <button type="button" class="btn btn-default btn-cancel btn-modal" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>