<div class="formContainer">
    @model TranslationRegistryModel.Project

    <div>
        <h1><b>@Model.Name</b></h1>

        @Html.Partial("DetailsShort", Model)


        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addDocForm"
           href="/Documents/Create" class="btn btn-primary createBtn">Добавить документ</a>
        <div id="addDocForm" class="dynamicBlock"></div>

        <div class="titles">
            <div class="col-md-6">Название документа</div>
            <div class="col-md-6">Команды</div>
        </div>

        @foreach (var doc in Model.Documents)
        {
            <div class="properties">
                <div class="row">
                    <div class="col-md-6"><h3>@Html.DisplayFor(modelItem => doc.Name)</h3></div>
                    <div class="col-md-6">

                        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addDocStageForm@(doc.Id)"
                           href="/DocStages/Create/@doc.Id" class="btn btn-success createBtn">Добавить стадию</a>

                        @Html.ActionLink("Скачать", "Download", "Documents", new { @filepath = doc.OriginalFile.Path }, htmlAttributes: new { @class = "btn btn-success" })
                        <a class="btn btn-primary" href="/Documents/Edit/@doc.Id">Редактировать</a>
                        <a class="btn btn-info" href="/Documents/Details/@doc.Id">Подробно</a>
                        <a class="btn btn-danger deleteBtn" href="/Documents/Delete/@doc.Id" data-dialog-title="Удаление записи">Удалить</a>

                    </div>
                    <div id="addDocStageForm@(doc.Id)" class="dynamicBlock"></div>
                </div>

                <div>
                    @foreach (var stage in doc.Stages)
                    {
                        @Html.Partial("../DocStages/Item", stage)
                    }
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".editBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle("fast");
            });
        });

        $(document).ready(function () {
            $(".createBtn").click(function () {
                $(this).toggleClass('active');
                updatedBlock = $(this).attr("data-ajax-update");
                $(updatedBlock).toggle("fast");
            });
        });

        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}
