@model IEnumerable<TranslationRegistryModel.Project>
@{ViewBag.Title = "Проекты";}

<h2>Проекты</h2>

<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addProj"
   href="/Projects/Create" class="btn btn-success createBtn">Добавить</a>
<div id="addProj" class="dynamicBlock"></div>

<div class="container myForm Pair" id="languageEditor">
    <div class="languageTitles">
        <div>@Html.Label("Название")</div>
        <div>@Html.Label("Языковая пара")</div>
        <div>@Html.Label("Команды")</div>
    </div>

    @foreach (var item in Model)
    {
        <div class="languageProp">
            <div>@Html.DisplayFor(modelItem => item.Name)</div>

            <div>@Html.DisplayFor(modelItem => item.LanguagePair.Name)</div>

            <div>
                <a href="/Projects/Details/@item.Id" class="btn btn-info">Открыть</a>
                <a href="/Projects/Edit/@item.Id" class="btn btn-primary">Редактировать</a>
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@item.Id"
                   href="/Projects/DetailsShort/@item.Id" class="btn btn-info detailsBtn">Детали</a>
                <a data-ajax="true"
                   href="/Projects/Delete/@item.Id" class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div id="@(item.Id)" class="dynamicBlock"></div>
    }
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".editBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });

        $(document).ready(function () {
            $(".createBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });

        $(document).ready(function () {
            $(".detailsBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });
        
        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}