@model IEnumerable<TranslationRegistryModel.Project>

@{
    ViewBag.Title = "Проекты";
}

<h2>Проекты</h2>

<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addProj"
   href="/Projects/Create" class="glyphicon glyphicon-plus createBtn"></a>
<div id="addProj" class="dynamicBlock"></div>

<table class="table">
    <tr>
        <th>
            @Html.Label("Название")
        </th>
        <th>
            @Html.Label("Языковая пара")
        </th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <h3>
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguagePair.Name)
        </td>

        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        </td>
        <td>
            <a href="/Projects/Details/@item.Id" class="btn btn-info">Подробно</a>
        </td>
        <td>
            <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@item.Id"
               href="/Projects/DetailsShort/@item.Id" class="glyphicon glyphicon-chevron-down detailsBtn"></a>
        <td>
            <a data-ajax="true"
               href="/Projects/Delete/@item.Id" class="glyphicon glyphicon-remove deleteBtn"></a>
        </td>
    </tr>
        
    <tr>
        <td id="@(item.Id)" class="dynamicBlock">

        </td>
    </tr>
    }

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".editBtn").click(function () {
                $(this).toggleClass("glyphicon-edit");
                $(this).toggleClass("glyphicon-arrow-up");
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle();
            });
        });

        $(document).ready(function () {
            $(".createBtn").click(function () {
                $(this).toggleClass("glyphicon-remove");
                $(this).toggleClass("glyphicon-arrow-up");
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle();
            });
        });

        $(document).ready(function () {
            $(".detailsBtn").click(function () {
                $(this).toggleClass("glyphicon-chevron-down");
                $(this).toggleClass("glyphicon-chevron-up");
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle();
            });
        });
        
        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}