@model TranslationRegistryModel.User_Stage

<div class="modal-dialog">
    <div class="modal-content">

        <!-- Хедер -->
        <div class="modal-header delete-header">
            <h4 class="modal-title">Удаление работы</h4>
            <i data-dismiss="modal" class="material-icons close">clear</i>
        </div>

        <!-- Тело -->
        <div class="modal-body">
            <h3>Вы уверены, что хотите удалить данную запись?</h3>
            <div class="modal-row">
                <div class="modal-property"><p>Исполнитель:</p></div>
                <div class="modal-value">
                    <p>@Model.User.Name</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Тип работы:</p></div>
                <div class="modal-value">
                    <p>@Model.Stage.WorkType.Name</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Количество:</p></div>
                <div class="modal-value">
                    <p>@Model.Amount (@(Model.Stage.WorkType.UnitOfMeasure.Name))</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Комментарий:</p></div>
                <div class="modal-value">
                    <p>@Model.Comment</p>
                </div>
            </div>
        </div>

        <!-- Подтверждение\отмена -->
        <div class="modal-footer">
            @*@using (Ajax.BeginForm("Delete", "User_Stage", new AjaxOptions {HttpMethod = "Post", UpdateTargetId = "partialContent" })) *@
            @using (Html.BeginForm("Delete", "User_Stage", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <input type="submit" value="Удалить" class="btn btn-delete hide-modal btn-modal" />
            }
            <button type="button" class="btn btn-default btn-cancel btn-modal" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>