@model TranslationRegistryModel.User_Stage

<div>
    <div class="properties">
        <div class="col-md-2">
            <span>
                @Html.DisplayFor(modelItem => Model.User.Name)
            </span>
        </div>
        <div class="col-md-2">
            <span>
                @Html.DisplayFor(modelItem => Model.Comment)
            </span>
        </div>
        <div class="col-md-1">
            <span>
                @Html.DisplayFor(modelItem => Model.Amount)
            </span>
        </div>
        <div class="col-md-2">
            <span>
                @Model.Date.ToString("dd/MM/yyyy")
            </span>
        </div>
        <div class="col-md-2">
            <span>
                @if (Model.DocFile!=null && Model.DocFile.Date!=null)
                {
                    @Model.DocFile.Date.ToString("dd/MM/yyyy")
                }
            </span>
        </div>
        <div class="col-md-3">
            <div class="buttons-container">
                <a class="btn btn-primary ajaxToggleBtn" data-ajax-update="#userStage@(Model.Id)"
                   data-href="/User_Stage/Edit/@Model.Id">Редактировать</a>
                @if (Model.DocFile != null && !String.IsNullOrWhiteSpace(Model.DocFile.Path))
                {
                    @Html.ActionLink("Скачать", "Download", "User_Stage", new { @filepath = Model.DocFile.Path }, htmlAttributes: new { @class = "btn btn-primary" })
                    <a class="btn btn-info finaliseBtn" href="/User_Stage/Finalise/@Model.Id">Финализировать</a>
                }
                <a class="btn btn-danger deleteBtn" href="/User_Stage/Delete/@Model.Id" data-dialog-title="Удаление работы">Удалить</a>
            </div>
        </div>
    </div>
</div>
<div id="userStage@(Model.Id)" class="dynamicBlock dynamicItem"></div>
