@model List<TranslationRegistryModel.User_Stage>
@{ViewBag.Title = "Мои задачи";}
<!-- ЗАГОЛОВОК И КНОПКА ДОБАВЛЕНИЯ -->
<h2>Мои задачи</h2>

<!-- ФИЛЬТРЫ -->
<div class="filterContainer">
    <ul class="filters">
        <li>
            <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/InWork">Задачи в работе</a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/All">Все задачи</a>
        </li>
        <li>
            <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/Done">Выполненные задачи</a>
        </li>
    </ul>
</div>

<div class="tableMaterial">
    <div class="titles">
        <div class="col-md-2">Проект</div>
        <div class="col-md-2">Документ</div>
        <div class="col-md-1">Оригинал</div>
        <div class="col-md-3">Комментарий</div>
        <div class="col-md-1">Объем</div>
        <div class="col-md-1">Дедлайн</div>
        <div class="col-md-1">Результат</div>
        <div class="col-md-1">Команды</div>
    </div>

    <div>
        @foreach (var userStage in Model)
        {
            <div class="properties">

                <!-- Проект -->
                <div class="col-md-2">
                    <a class="titleLink">
                        @userStage.Stage.Document.Project.Name
                    </a>
                </div>

                <!-- Документ -->
                <div class="col-md-2">
                    <a class="titleLink">
                        @userStage.Stage.Document.Name
                    </a>
                </div>

                <!-- Оригинал -->
                <div class="col-md-1">
                    <span>
                        <a href="@Url.Action("Download", "Documents", new { @filepath = userStage.Stage.Original.Path })" class="icon-list">
                            <i class="material-icons right-icon">file_download</i>
                        </a>
                    </span>
                </div>

                <!-- Комментарий -->
                <div class="col-md-3">
                    <span>
                        @Html.DisplayFor(modelItem => userStage.Comment)
                    </span>
                </div>

                <!-- Объем -->
                <div class="col-md-1">
                    <span>
                        @Html.DisplayFor(modelItem => userStage.Amount)
                    </span>
                </div>

                <!-- Дедлайн -->
                <div class="col-md-1">
                    <span>
                        @userStage.Stage.Deadline
                    </span>
                </div>

                <!-- Результат -->
                <div class="col-md-1">
                    <div class="buttons-container">
                        <a class="icon-list">
                            <i class="material-icons">file_upload</i>
                        </a>
                    </div>
                </div>

                <!-- Команды -->
                <div class="col-md-1">
                    <div class="buttons-container">
                        <a href="/User_Stage/Edit/@userStage.Id" class="icon-list">
                            <i class="material-icons">mode_edit</i>
                        </a>
                        <a class="deleteBtn icon-list" data-href="/User_Stage/Delete/@userStage.Id">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    document.title = '@ViewBag.Title';
</script>