@model List<TranslationRegistryModel.User_Stage>
@{ViewBag.Title = "Мои задачи";}
<!-- ЗАГОЛОВОК И КНОПКА ДОБАВЛЕНИЯ -->
<div class="titleAndIcon">
    <h2>Мои задачи</h2>
    <i class="material-icons ajaxToggleBtn" data-ajax-update="#addProj" data-href="/Projects/Create">add_circle</i>
</div>

<!-- ФИЛЬТРЫ -->
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container">
        <ul class="filters">
            <li>
                <a class="filter filter-active" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/InWork">Задачи в работе</a>
            </li>
            <li>
                <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/All">Все задачи</a>
            </li>
            <li>
                <a class="filter" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#projectList" href="/Projects/Done">Выполненные задачи</a>
            </li>
        </ul>
    </div>
</div>

<div class="tableMaterial">
    <div class="titles">
        <div class="col-md-2">Проект</div>
        <div class="col-md-2">Документ</div>
        <div class="col-md-1">Дедлайн</div>
        <div class="col-md-1">Объем</div>
        <div class="col-md-4">Комментарий</div>
        <div class="col-md-2">Команды</div>
    </div>

    <div>
        @foreach (var userStage in Model)
        {
            <div class="properties">
                <!-- Проект -->
                <div class="col-md-2">
                    <span>
                        <a class="titleLink titleLink-small" href="/Projects/Tabpages/@userStage.Stage.Document.Project.Id">
                            @userStage.Stage.Document.Project.Name
                        </a>
                    </span>
                </div>
                <!-- Документ -->
                <div class="col-md-2">
                    <span>
                        <a class="titleLink titleLink-small" href="/Documents/DocAndStages/@userStage.Stage.Document.Id">
                            @userStage.Stage.Document.Name
                        </a>
                    </span>
                </div>
                <!-- Дедлайн -->
                <div class="col-md-1">
                    <span>
                        Мулька
                    </span>
                </div>
                <!-- Объем -->
                <div class="col-md-1">
                    <span>
                        @Html.DisplayFor(modelItem => userStage.Amount)
                    </span>
                </div>
                <!-- Комментарий -->
                <div class="col-md-4">
                    <span>
                        @Html.DisplayFor(modelItem => userStage.Comment)
                    </span>
                </div>
                <!-- Команды -->
                <div class="col-md-2">
                    <div class="buttons-container">
                        <a class="listIcon">
                            <i class="material-icons">file_upload</i>
                        </a>
                        <a href="/User_Stage/Edit/@userStage.Id" class="listIcon">
                            <i class="material-icons">mode_edit</i>
                        </a>
                        <a class="deleteBtn listIcon">
                            <i class="material-icons">delete</i>
                        </a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    document.title = '@ViewBag.Title';
</script>