@model TranslationRegistryModel.LanguagePair
<div>
    <h3>Вы уверены, что хотите удалить данную запись?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Наименование")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.Label("Язык оригинала")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OriginalLanguage.Name)
            </dd>

            <dt>
                @Html.Label("Язык перевода")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TranslationLanguage.Name)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger"/>
            </div>
        }
    </div>
</div>

@* Для закрытия диалога (в нем открывается форма) id="closeDialog" и скрипт*@
<button type="button" class="ui-dialog-titlebar-close btn btn-info">Назад</button>

<script>
    $(document).ready(function () {
        $(".ui-dialog-titlebar-close").click(function () {
            $('.ui-dialog-content').dialog('close');
        });
    });
</script>

