@model TranslationReg.Models.LanguagePairsModel


@using (Html.BeginForm(Html.BeginForm("Edit", "LanguagePairs")))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.languagePair.Id)

    <div class="card card-blue medium-card">

        <div class="card-header">
            <p>Ред. языковую пару</p>
            <div>
                <a class="fa fa-arrow-circle-left card-btn" style="font-size:36px" href="/Languages/Cards"></a>
            </div>
        </div>

        <div class="card-content">
            <div class="card-row">
                <div class="card-property"><p>Название:</p></div>
                <div class="card-value">
                    @Html.EditorFor(model => model.languagePair.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                </div>
            </div>
            <div class="card-row">
                <div class="card-property"><p>Оригинал:</p></div>
                <div class="card-value">
                    @Html.DropDownListFor(model => model.languagePair.OriginalLanguageId, Model.originalLanguageSelectlist, null, htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="card-row">
                <div class="card-property"><p>Перевод:</p></div>
                <div class="card-value">
                    @Html.DropDownListFor(model => model.languagePair.TranslationLanguageId, Model.translationLanguageSelectlist, null, htmlAttributes: new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="card-row">
                <div class="card-property"></div>
                <div class="card-value">
                    <input type="submit" value="Сохранить" class="btn btn-default btn-form form-control" />
                </div>
            </div>
        </div>
    </div>
}