@model List<TranslationRegistryModel.LanguagePair>

<h2>Языковые пары</h2>

<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addLanguagePairForm" 
   href="/LanguagePairs/Create" class="btn btn-primary createBtn" role="button">
    Добавить языковую пару
</a>
<div id="addLanguagePairForm" class="dynamicBlock"></div>

<div class="container languageForm Pair" id="languageEditor">
    <div class="languageTitles">
        <div>@Html.Label("Язык оригинала")</div>
        <div>@Html.Label("Язык перевода")</div>
        <div>@Html.Label("Наименование")</div>
        <div>@Html.Label("Выполнить")</div>
    </div>
    @foreach (var item in Model)
    {
        <div class="languageProp">
            <div>@Html.DisplayFor(modelItem => item.OriginalLanguage.Name)</div>
            <div>@Html.DisplayFor(modelItem => item.TranslationLanguage.Name)</div>
            <div>@Html.DisplayFor(modelItem => item.Name)</div>
            <div>
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#languagePair@(item.Id)" href="/LanguagePairs/Edit/@item.Id" class="btn btn-primary langEditBtn editBtn">Редактировать</a>
                <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#languagePair@(item.Id)" href="/LanguagePairs/Edit/@item.Id"
                   class="btn btn-danger deleteBtn">Удалить</a>
            </div>
        </div>
        <div id="languagePair@(item.Id)" class="dynamicBlock"></div>
    }
</div>

