@using TranslationRegistryModel
@model TranslationRegistryModel.Document

<div class="modal-dialog">
    <div class="modal-content">

        <!-- Хедер -->
        <div class="modal-header delete-header">
            <h4 class="modal-title">Удаление документа "@Model.Name"</h4>
            <i data-dismiss="modal" class="material-icons close">clear</i>
        </div>

        <!-- Тело -->
        <div class="modal-body">
            <h3>Вы уверены, что хотите удалить данную запись?</h3>
            <div class="modal-row">
                <div class="modal-property"><p>Название:</p></div>
                <div class="modal-value">
                    <p>@Model.Name</p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Создатель:</p></div>
                <div class="modal-value">
                    <p>@Model.Owner.Name<p>
                </div>
            </div>
            <div class="modal-row">
                <div class="modal-property"><p>Проект:</p></div>
                <div class="modal-value">
                    <p>@Model.Project.Name<p>
                </div>
            </div>
            @{
                var stages = Model.Stages.SelectMany(x => x.User_Stage).ToList();
                <div class="modal-row">
                    <div class="modal-property">
                        <p>Количество работ:</p>
                    </div>
                    <div class="modal-value">
                        @if (stages.Count > 0)
                        {
                            <p>@stages.Count</p>
                        }
                        else
                        {
                            <p>Нет работ</p>
                        }
                    </div>
                </div>
            }
        </div>

        <!-- Подтверждение\отмена -->
        <div class="modal-footer">
            @using (Ajax.BeginForm("DeleteFromList", "Documents", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "partialContent" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)

                <input id="Confirm" type="submit" value="Удалить" class="btn btn-delete hide-modal btn-modal" />
            }
            <button type="button" class="btn btn-default btn-cancel btn-modal" data-dismiss="modal">Отмена</button>
        </div>
    </div>
</div>
<script>
    document.onkeyup = function (e) {
        e = e || window.event;
        if (e.keyCode === 13) {
            document.getElementById("Confirm").click();
        }
        return false;
    }

</script>
	