@model TranslationRegistryModel.Document

@{
    ViewBag.Title = "Данные документа";
}

<h2>Данные документа</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.ActionLink("Скачать оргигинал","Download","Documents", new { @filepath=Model.OriginalPath}, null)
        </dd>

        <dd>
            @Html.ActionLink("Скачать перевод", "Download", "Documents", new { @filepath = Model.TranslationPath }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
