@model IEnumerable<TranslationRegistryModel.Document>

@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>

<p>
    @Html.ActionLink("Создать", "Create", null,htmlAttributes: new { @class = "btn btn-success" })
</p>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Все документы", "Index", "Documents")</li>
            <li>@Html.ActionLink("Документы в работе", "Index", "Documents")</li>
            <li>@Html.ActionLink("Мои документы", "Index", "Documents")</li>
            <li>@Html.ActionLink("Другой фильтр", "Index", "Documents")</li>
        </ul>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.Label("Имя")
        </th>

        <th>
            @Html.Label("Количество слов")
        </th>

        <th>
            @Html.Label("Создатель")
        </th>

        <th>
            @Html.Label("Оригинал")
        </th>
        <th>
            @Html.Label("Перевод")
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WordsNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Name)
        </td>
        <td>
            @if(!String.IsNullOrWhiteSpace(item.OriginalFile.Path))
            {
                @Html.ActionLink("Скачать оргигинал", "Download", "Documents", new { @filepath = item.OriginalFile.Path }, null)
            }
        </td>
        <td>
            @if (!String.IsNullOrWhiteSpace(item.FinalFile.Path))
            {
                <a href="@Url.Action("Download", "Documents", new { @filepath = item.FinalFile.Path })">
                    <span class="glyphicon glyphicon-download" aria-hidden="true" filepath = "@item.FinalFile.Path"></span>
                </a>
            }
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink("Подробно", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info" })
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
