@model IEnumerable<TranslationRegistryModel.Document>

@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>

<div class="container">
    <ul class="filters">
        <li>@Html.ActionLink("Все документы", "Index", "Documents")</li>
        <li>@Html.ActionLink("Документы в работе", "Index", "Documents")</li>
        <li>@Html.ActionLink("Мои документы", "Index", "Documents")</li>
        <li>@Html.ActionLink("Другой фильтр", "Index", "Documents")</li>
    </ul>
</div>

<div id="docList">
    @Html.Partial("List")
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".editBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });

        $(document).ready(function () {
            $(".createBtn").click(function () {
                updatedBlock = $(this).attr("data-ajax-update");
                // изначально display:none, описанов MyAppStyles.css
                $(updatedBlock).toggle("fast");
            });
        });

        $(".deleteBtn").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    height: 300,
                    width: 500,
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    </script>
}
