@model IEnumerable<TranslationRegistryModel.Document>

@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>

<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Все документы", "Index", "Documents")</li>
            <li>@Html.ActionLink("Документы в работе", "Index", "Documents")</li>
            <li>@Html.ActionLink("Мои документы", "Index", "Documents")</li>
            <li>@Html.ActionLink("Другой фильтр", "Index", "Documents")</li>
        </ul>
    </div>
</div>

<div id="docList">
    @Html.Partial("List")
</div>