@model IEnumerable<TranslationRegistryModel.Document>

<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#addDoc"
   href="/Documents/Create" class="btn btn-primary createBtn">Добавить</a>
<div id="addDoc" class="dynamicBlock"></div>

<div class="titles">
    <div class="col-md-3">@Html.Label("Наименование")</div>
    <div class="col-md-2">@Html.Label("Создатель")</div>
    <div class="col-md-2">@Html.Label("Количество слов")</div>
    <div class="col-md-1">@Html.Label("Оригинал")</div>
    <div class="col-md-1">@Html.Label("Перевод")</div>
    <div class="col-md-3">@Html.Label("Команды")</div>
</div>

@foreach (var item in Model)
{
    <div class="properties">
        <div class="col-md-3">
            <span>
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </div>
        <div class="col-md-2">
            <span>
                @Html.DisplayFor(modelItem => item.Owner.Name)
            </span>
        </div>

        <div class="col-md-2">
            <span>
                @Html.DisplayFor(modelItem => item.WordsNumber)
            </span>
        </div>

        <div class="col-md-1">
            @if (!String.IsNullOrWhiteSpace(item.OriginalFile.Path))
            {
                <a href="@Url.Action("Download", "Documents", new { @filepath = item.OriginalFile.Path })" class="download-Btn">Скачать</a>
            }
        </div>
        <div class="col-md-1">
            @if (item.FinalFile != null && !String.IsNullOrWhiteSpace(item.FinalFile.Path))
            {
                <a href="@Url.Action("Download", "Documents", new { @filepath = item.FinalFile.Path })" class="download-Btn">Скачать</a>
            }
        </div>
        <div class="col-md-3">
            <div class="buttons-container">
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Подробно", "DocAndStages", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info" })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}