
@model List<TranslationRegistryModel.ProjectStatus>
<div>
    <h2>Статусы проекта</h2>

    <a data-ajax-update="#addStatuseForm" data-href="/ProjectStatuse/Create" class="btn btn-primary ajaxToggleBtn">Добавить</a>
    <div id="addStatuseForm" class="dynamicBlock"></div>

    <div class="titles">
        <div class="col-md-3">@Html.Label("Наименование")</div>
        <div class="col-md-6">@Html.Label("Описание")</div>
        <div class="col-md-3">@Html.Label("Команды")</div>
    </div>
    @foreach (var statuse in Model)
    {
        <div class="properties">
            <div class="col-md-3">
                <span>
                    @Html.DisplayFor(modelItem => statuse.Name)
                </span>
            </div>
            <div class="col-md-6">
                <span>

                    @Html.DisplayFor(modelItem => statuse.Description)
                </span>
            </div>
            <div class="col-md-3">
                <div class="buttons-container">
                    <a data-ajax-update="#statuse@(statuse.Id)" data-href="/ProjectStatuse/Edit/@statuse.Id" class="btn btn-primary ajaxToggleBtn">Редактировать</a>
                    <a class="btn btn-danger deleteBtn" href="/ProjectStatuse/Delete/@statuse.Id" data-dialog-title="Удаление статуса проектов">Удалить</a>
                </div>
            </div>
            <div id="statuse@(statuse.Id)" class="dynamicBlock dynamicItem"></div>
        </div>
    }
</div>