@model List<TranslationRegistryModel.WorkType>
<div>
    <h2>Типы работ</h2>

    <a data-ajax-update="#addWorkTypeForm" data-href="/WorkTypes/Create" class="btn btn-primary ajaxToggleBtn">Добавить</a>
    <div id="addWorkTypeForm" class="dynamicBlock"></div>

    <div class="titles">
        <div class="col-md-3">@Html.Label("Наименование")</div>
        <div class="col-md-4">@Html.Label("Описание")</div>
        <div class="col-md-2">@Html.Label("Единицы измерения")</div>
        <div class="col-md-3">@Html.Label("Команды")</div>
    </div>
    @foreach (var workType in Model)
    {
        <div class="properties">
            <div class="col-md-3">
                <span>

                    @Html.DisplayFor(modelItem => workType.Name)
                </span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <span>

                    @Html.DisplayFor(modelItem => workType.UnitOfMeasure.Name)
                </span>
            </div>
            <div class="col-md-3">
                <div class="buttons-container">
                    <a data-ajax-update="#workType@(workType.Id)" data-href="/WorkTypes/Edit/@workType.Id" class="btn btn-primary ajaxToggleBtn">Редактировать</a>
                    <a href="/WorkTypes/Delete/@workType.Id" class="btn btn-danger deleteBtn" data-dialog-title="Удаление типа работ">Удалить</a>
                </div>
            </div>
            <div id="workType@(workType.Id)" class="dynamicBlock dynamicItem"></div>
        </div>
    }
</div>